@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

.list{
    margin-left: 10%;
}
.blog:link, .blog:visited {
    color: #00203FFF;
    padding: 5px 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}
  
.blog:hover, .blog:active {
    color: #00203FFF;
    background-color: rgba(0, 31, 63, 0.233);
}

.blogpic{
    height: 40%;
    width: 40%;
}