.img2{
    border-radius: 50%;
    border-color: #ADEFD1FF;
    margin-left: 7%;
    width:40px;
    height: 40px;
    float: none
  }
  .imgelse{
    border-radius: 50%;
    border-color: #ADEFD1FF;
    margin-left: 4px;
    width:40px;
    height: 40px;
    float: none
  }
