.img2{
    border-radius: 50%;
    border-color: #ADEFD1FF;
    margin-left: 7%;
    width: 35px;
    height: 35px;
    float: none;
    margin-bottom: 2%;
  }
  .img2:hover{
    border-radius: 50%;
    border-color: #ADEFD1FF;
    margin-left: 7%;
    background-color:#ff3333;
    float: none;
    margin-bottom: 2%;
  }
  
  .imgelse{
    border-radius: 50%;
    border-color: #ADEFD1FF;
    margin-left: 4px;
    width:35px;
    height: 35px;
    float: none;
    text-align: center;
    margin-bottom: 2%;
  }
  .imgelse:hover{
    border-radius: 50%;
    border-color: #ADEFD1FF;
    margin-left: 4px;
    background-color: #ff3333;
    float: none
  }
  .techlogo{
      border-color: #ADEFD1FF;
      margin-left: 7%;
      width:30px;
      height: 30px;
      float: none
  }