.square{
  width: 90%;
  height: 100px;
  margin-left: 5%;
  margin-top: 32%;
  background-color: #00203FFF;
  opacity: 0.1;
  float: none;
}

/* font */
@font-face {
  font-family: myFont;
  src: url(font/oswald.light.ttf);
}

@font-face{
  font-family: myFontB;
  src:url(font/oswald.bold.ttf) 
}

@font-face{
  font-family: myFontR;
  src:url(font/oswald.regular.ttf) 
}

/* font end herer */

/* link start */
a:link, a:visited {
  background-color: #00203FFF;
  color: #ADEFD1FF;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: myFont;
  margin-left: 2%;
  margin-top: 2%;
}

a:hover, a:active {
  color: #00203FFF;
  background-color: #ADEFD1FF;
}

/* link end here */


body {
    background-color: #ADEFD1FF;
    margin-left: 20px;
  }
  
h1{
  color: #ADEFD1FF;
  background-color: #00203FFF;
  margin-left: 5%;
  margin-right: 60%;
  text-align: center;
  font-family: myFont;
  text-transform: uppercase;
  opacity: 20%;
}

p{
  color: #00203FFF;
  margin-left: 7%;
  margin-right: 7%;
  font-family: myFontR;
  margin-top: 30%;  
}

img{
  border-radius: 50%;
  border-color: #ADEFD1FF;
  margin-left: 60%;
  margin-right: 10%;
  margin-top: -20%;
  width:30%;
  height: 30%;
  float: right;
}

.name{
  color:#00203FFF;
  margin-left: 5%;
  margin-right: 60%;
  margin-top: 15%;
  font-size: 300%;
  text-align: center;
  font-family: myFont;
  text-transform: uppercase;
}

.tagline{
  color: black;
  font-family: myFont;
  margin-left: 10%;
  margin-top: -10%;
  text-align: center;
  float: left;
}
