
/* font */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');


/* @font-face {
 (font/Montserrat/Montserrat-MediumItalic.ttf)
} */
/* font end herer */



/* link start */
.a1:link, .a1:visited {
  background-color: #00203FFF;
  color: #ADEFD1FF;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin-left: 2%;
  margin-top: 2%;
}

.a1:hover, .a1:active {
  color: #00203FFF;
  background-color: #ADEFD1FF;
}

.a2:link, .a2:visited {
  background-color: #00203FFF;
  color: #ADEFD1FF;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin-left: 7%;
  margin-top: 2%;
  margin-bottom: 5%;
}

.a2:hover, .a2:active {
  color: #00203FFF;
  background-color: #ADEFD1FF;
}
/* link end here */


body {
    background-color: #ADEFD1FF;
    margin-left: 20px;
  }
  
h1{
  color: #ADEFD1FF;
  background-color: #00203FFF;
  margin-left: 5%;
  margin-right: 60%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  opacity: 20%;
}

.p1{
  color: #00203FFF;
  margin-left: 7%;
  margin-right: 7%;
  font-family: 'Montserrat', sans-serif;
  margin-top: 30%;  
}

.college{
  color: #00203FFF;
  margin-left: 7%;
  margin-right: 7%;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0%;
}

.img1{
  border-radius: 50%;
  border-color: #ADEFD1FF;
  margin-left: 50%;
  margin-right: 10%;
  margin-top: -20%;
  margin-bottom: 5%;
  width:35%;
  height: 35%;
}

.name{
  color:#00203FFF;
  margin-left: 7%;
  margin-right: 60%;
  margin-top: 15%;
  font-size: 200%;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.tagline{
  color: #00203FFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin-left: 7%;
  margin-right: 60%;
  margin-top: 0%;
  text-align: left;
}


.nametagsetup{
  margin-left: 7%;
}

.first_title{
  color:#00203FFF;
  margin-left: 7%;
  margin-right: 60%;
  margin-top: 15%;
  font-size: 250%;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.title{
  color:#00203FFF;
  margin-left: 7%;
  margin-right: 10%;
  margin-top: 10%;
  font-size: 250%;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.bottom_line1{
  color:#00203FFF;
  margin-left: 7%;
  margin-right: 60%;
  margin-top: 15%;
  font-size: 300%;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.thinsentence{
  color:#00203FFF;
  margin-left: 7%;
  margin-right: 7%;
  font-size: 50%;
  font-size:medium;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.techlist{
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
  font-weight: 300;
  color: #ADEFD1FF;
  margin-right: 7%;
  margin-left: 7%;
}

.tech{
  color: #00203FFF;
  padding-left: 1%;
  text-align: left;
  margin-left: 0%;
}
.tech:hover{
  background-color: rgba(0, 31, 63, 0.226);
}

.subtitle{
  color:#00203FFF;
  margin-left: 7%;
  margin-right: 10%;
  margin-top: 0%;
  font-size: 100%;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}